# SUPABASE_URL=https://ssbgdaocqlkoqywdfbwn.supabase.co
# SUPABASE_KEY=sb_publishable_J0moDD73hufjLaYxFlD9Sg_hbRLkSgL


# SUPABASE_URL=https://ssbgdaocqlkoqywdfbwn.supabase.co
# SUPABASE_PUBLISHABLE_KEY=sb_publishable_J0moDD73hufjLaYxFlD9Sg_hbRLkSgL


SUPABASE_URL=https://ssbgdaocqlkoqywdfbwn.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_J0moDD73hufjLaYxFlD9Sg_hbRLkSgL
